flows.json
[
    {
        "id": "ab3513875acdecc7",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3b138a2d06f0b98c",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "mqtt://broker.emqx.io",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f96970ca723381b4",
        "type": "ui_tab",
        "name": "Tap1",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3a9c2e39e87fc605",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "f96970ca723381b4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9a06182daed2344b",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "f96970ca723381b4",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d6666503f0fdb12a",
        "type": "ui_group",
        "name": "Group 3",
        "tab": "f96970ca723381b4",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "7d121420a11c8385",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 12,
                "gy": 12,
                "cx": 2,
                "cy": 2,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "7e26d177810ad953",
        "type": "ui_group",
        "name": "Group 0",
        "tab": "f96970ca723381b4",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7310a02be7955508",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "34d729a84bf686b3",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "f8f6550fa6a9e4c9",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "55bfe4bb409520ec",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "b77cfd23377a52e7",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "d696ecd48ffeaf81",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "9a06182daed2344b",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "935c7c241c96d8b4",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "335f925434e9436d",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "17e29e4e2d128edd",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "49c84abcd6d1f33b",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "65618a540fc2f5bd",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "3b7506b942292bb0",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "6f094786fa93bff4",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "093120c799dd2c8f",
        "type": "ui_spacer",
        "z": "ab3513875acdecc7",
        "name": "spacer",
        "group": "d6666503f0fdb12a",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "a4c291e5c9ab7000",
        "type": "mqtt in",
        "z": "ab3513875acdecc7",
        "name": "INPUT",
        "topic": "honda/pub/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "3b138a2d06f0b98c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "7a7ea38e6c26a0fd",
                "0a7d698c9ec91fce",
                "bd15510c60c95825",
                "17c2a19b4678776a",
                "fc37f1a7abe97c46",
                "47e4f43ef710274c",
                "03b673ce32d7a60f",
                "ee0b73f9e0eb39f0"
            ]
        ]
    },
    {
        "id": "7a7ea38e6c26a0fd",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 1",
        "func": "msg.payload = msg.payload.temp\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "413d1b1ce95f18e4",
                "b2384a4039ec53f9",
                "aee1f252cd743ee7"
            ]
        ]
    },
    {
        "id": "bd15510c60c95825",
        "type": "debug",
        "z": "ab3513875acdecc7",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 100,
        "wires": []
    },
    {
        "id": "0a7d698c9ec91fce",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 2",
        "func": "msg.payload = msg.payload.hum\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 220,
        "wires": [
            [
                "0a2d4781e34c70af",
                "b601eba8c03faa11",
                "bb4f997c5c530887"
            ]
        ]
    },
    {
        "id": "17c2a19b4678776a",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 3",
        "func": "msg.payload = msg.payload.light\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 280,
        "wires": [
            [
                "2c8e4f3c811d87c5"
            ]
        ]
    },
    {
        "id": "fc37f1a7abe97c46",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 4",
        "func": "msg.payload = msg.payload.motion\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 340,
        "wires": [
            [
                "24e05e52100b5474"
            ]
        ]
    },
    {
        "id": "03b673ce32d7a60f",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 5",
        "func": "msg.payload = msg.payload.button\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 400,
        "wires": [
            [
                "af886680e6ea33f3"
            ]
        ]
    },
    {
        "id": "47e4f43ef710274c",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 6",
        "func": "msg.payload = msg.payload.led\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 460,
        "wires": [
            [
                "95e63005617a2ab2",
                "980c319ee46e4a53"
            ]
        ]
    },
    {
        "id": "ee0b73f9e0eb39f0",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 7",
        "func": "msg.payload = msg.payload.mode\n   return msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 520,
        "wires": [
            [
                "30bd7808922338fd"
            ]
        ]
    },
    {
        "id": "0e953fff911c9df9",
        "type": "mqtt out",
        "z": "ab3513875acdecc7",
        "name": "OUTPUT",
        "topic": "honda/sub/control",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3b138a2d06f0b98c",
        "x": 680,
        "y": 720,
        "wires": []
    },
    {
        "id": "980c319ee46e4a53",
        "type": "function",
        "z": "ab3513875acdecc7",
        "name": "function 8",
        "func": "if (msg.payload === \"ON\") {\n    msg.payload = true;\n} else if (msg.payload === \"OFF\") {\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 620,
        "wires": [
            [
                "6c164459bdaad36c",
                "7306a79df56c3fd4"
            ]
        ]
    },
    {
        "id": "7306a79df56c3fd4",
        "type": "debug",
        "z": "ab3513875acdecc7",
        "d": true,
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a9fd0b7d70affd8",
        "type": "debug",
        "z": "ab3513875acdecc7",
        "d": true,
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 820,
        "wires": []
    },
    {
        "id": "413d1b1ce95f18e4",
        "type": "ui_gauge",
        "z": "ab3513875acdecc7",
        "name": "",
        "group": "7e26d177810ad953",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURE",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 850,
        "y": 160,
        "wires": []
    },
    {
        "id": "0a2d4781e34c70af",
        "type": "ui_gauge",
        "z": "ab3513875acdecc7",
        "name": "",
        "group": "3a9c2e39e87fc605",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "HUMIDITY",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 220,
        "wires": []
    },
    {
        "id": "061c7587fd2df69e",
        "type": "ui_button",
        "z": "ab3513875acdecc7",
        "name": "",
        "group": "d6666503f0fdb12a",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "blue",
        "className": "",
        "icon": "",
        "payload": "BUTTON",
        "payloadType": "str",
        "topic": "test/sub/control",
        "topicType": "msg",
        "x": 330,
        "y": 720,
        "wires": [
            [
                "0e953fff911c9df9",
                "6a9fd0b7d70affd8"
            ]
        ]
    },
    {
        "id": "24e05e52100b5474",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "9a06182daed2344b",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MOTION",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "18",
        "color": "#0040ff",
        "x": 820,
        "y": 340,
        "wires": []
    },
    {
        "id": "2c8e4f3c811d87c5",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "9a06182daed2344b",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LIGHT",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": 16,
        "color": "#ff0000",
        "x": 810,
        "y": 280,
        "wires": []
    },
    {
        "id": "af886680e6ea33f3",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "9a06182daed2344b",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "BUTTON",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "18",
        "color": "#2bff00",
        "x": 820,
        "y": 400,
        "wires": []
    },
    {
        "id": "95e63005617a2ab2",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "d6666503f0fdb12a",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "LED",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "18",
        "color": "#ff00a2",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "30bd7808922338fd",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "d6666503f0fdb12a",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "MODE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": true,
        "font": "Verdana,Verdana,Geneva,sans-serif",
        "fontSize": "18",
        "color": "#bb00ff",
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "6c164459bdaad36c",
        "type": "ui_led",
        "z": "ab3513875acdecc7",
        "order": 4,
        "group": "d6666503f0fdb12a",
        "width": 2,
        "height": 2,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#999999",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#ff0000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 930,
        "y": 620,
        "wires": []
    },
    {
        "id": "b2384a4039ec53f9",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "7e26d177810ad953",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "TEMPERATURE",
        "format": "{{msg.payload}}",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1090,
        "y": 160,
        "wires": []
    },
    {
        "id": "b601eba8c03faa11",
        "type": "ui_text",
        "z": "ab3513875acdecc7",
        "group": "3a9c2e39e87fc605",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "HUMIDITY",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1070,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb4f997c5c530887",
        "type": "ui_chart",
        "z": "ab3513875acdecc7",
        "name": "",
        "group": "3a9c2e39e87fc605",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "HUMIDITY",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "aee1f252cd743ee7",
        "type": "ui_chart",
        "z": "ab3513875acdecc7",
        "name": "",
        "group": "7e26d177810ad953",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "TEMPERATURE",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1310,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "dbdd0850ba387682",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-contrib-ui-led": "0.4.11"
        }
    }
]